//Background Colors
$prim-col: #FFF3F3;
$sec-col: #8E1616;
$ter-col: #CECECE;
$quart-col: #171717;
$fif-col: #339235;

//Font Colors
$font-col1: white;
$font-col2: black;

//Font Family
$font1: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue";

//Shadow
$shadow1: #9E9E9E;
$shadow2: #D7D7D7;

/* Mobile*/
@media only screen and (max-width:800px) {

header {
	background-color: $prim-col;
	height: 100px;
	padding: 1em; 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	color: $font-col1; /* color of hyperlinks */	
	text-decoration: none; /* remove underlines*/
}

nav{
	background-color: $sec-col;
	height: 50px;
	font-family: $font1;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	display: flex;
  	align-items: left;
  	justify-content: left;
}

nav li, footer li {
	display: inline; /* show list next to eachother */
    list-style-type: none; /* no bulletpoints */
	padding: 0.5em; /* space between list elements */
	padding-bottom: 0em;
}

#car{
	width: vw;
	height: 620px;
	background-color: $ter-col;
	background-image: url(img/traffic-332857_1920.jpg);
	background-size: cover;
	color: $font-col1 ;
	font-family: $font1;
	font-weight: normal;
	font-size: 2em;
	border-top: 1px solid $ter-col;
	padding-left:1.5em;
	padding-top:1.8em;
}

h1 {
	padding-top: 1em;
	padding-left:1.5em;
}

#cov_header{
	background-color: $ter-col;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	padding-bottom: 0.5em;
}

.cov1{
	width:100%;
	display:flex;
	justify-content:center;
}

#cov1{
	font-family:$font1;
	font-size:1.5em;
}

#cov2{
	font-family:$font1;
	font-size:1em;
	text-align:center;
}

#cov_info{
	display:grid;
	justify-content: center;
	margin: 4em 2em;
}

#box1 {
  position: absolute;
  top: 300px;
  left: 15px;
  height: 570px;
  width: 80%;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 15% auto auto auto auto auto 15%;
  margin: 3em;
  background-color: #CECECE;
  opacity: 0.7; 
  border: 2px solid $shadow1;
}

.form1{
	grid-column-start: 1;
  	grid-column-end: 4;
  	grid-row-start: 1;
  	grid-row-end: 2;
  	text-align: center;
  	font-family: $font1;
  	font-size: 1.5em;
  	font-weight: bold;
}

.form2{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
 	grid-row-end: 3;
}

.form3{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 3;
  	grid-row-end: 4;
}

.form4{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 4;
  	grid-row-end: 5;
}

.form5{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 5;
  	grid-row-end: 6;

}

.form7{
	grid-column-start: 1;
  	grid-column-end: 3;
  	grid-row-start: 7;
  	grid-row-end: 8;
 	text-align: center;
 	color: $fif-col;
 	font-size: 1.5em;
 	font-weight:bold;
}

.box2 {
	  position: absolute;
	  top: 780px;
	  left: 120px;
	  height: 55px;
	  width: 80%;
	  justify-content: center;
	  text-align: left; 
}

#button_calculate{
	background: $fif-col;
	border-radius: 15px;
	width: 150px;
	height: 40px;
	font-size: 1.5em;
	color: $font-col1;
}

.infobox1{
	text-align: left;
	width: 80%;
	padding: 1.5em;
	border: 1px solid $shadow2;
	border-top: 2px solid $shadow1;
	box-shadow: 1px 5px 5px $shadow2;
	font-family:$font1;
	font-size:0.8em;
	margin-bottom: 1em;
}

 .infobox2{
	font-size:1.2em;
	font-weight:bold;
}

.infobox3{
	font-weight:bold;
}

#age, #first_name, #country, #horsepower{
	height: 2em;
	width: 15em;
	font-family: $font1;
	font-size:1em;
}

ul { 
	padding-left: 0.6em; 
}

footer{
	background-color: $quart-col;
	font-family:$font1;
	color: $font-col1;
	display: grid;
	widows: 100vw;
	font-size:0.8em;
}

.logofooter{
	text-align: right;
	margin: 1.5em;
}

.copyfooter{
	text-align: center;
}

.lista{
	list-style-type: none;
}

li.listb:before{
	content:"✔";
	font-size:1em;
	padding-right: 8px;
	color: blue;
}

}