@charset "UTF-8";
header {
  background-color: #FFF3F3;
  height: 100px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }

a {
  color: white;
  /* color of hyperlinks */
  text-decoration: none;
  /* remove underlines*/ }

nav {
  background-color: #8E1616;
  height: 50px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: left;
  justify-content: left; }

nav li, footer li {
  display: inline;
  /* show list next to eachother */
  list-style-type: none;
  /* no bulletpoints */
  padding: 0.5em;
  /* space between list elements */
  padding-bottom: 0em; }

#car {
  width: vw;
  height: 620px;
  background-color: #CECECE;
  background-image: url(img/traffic-332857_1920.jpg);
  background-size: cover;
  color: white;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-weight: normal;
  font-size: 2em;
  border-top: 1px solid #CECECE;
  padding-left: 1.5em;
  padding-top: 1.8em; }

h1 {
  padding-top: 1em;
  padding-left: 1.5em; }

#cov_header {
  background-color: #CECECE;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding-bottom: 0.5em; }

.cov1 {
  width: 100%;
  display: flex;
  justify-content: center; }

#cov1 {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 2em; }

#cov2 {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 1em;
  text-align: center; }

#cov_info {
  display: flex;
  justify-content: space-between;
  margin: 4em 2em; }

#box1 {
  position: absolute;
  top: 300px;
  left: 50px;
  height: 570px;
  width: 80%;
  display: grid;
  grid-template-columns: 5% auto 10% auto 10% auto 5%;
  grid-template-rows: 20% auto auto auto 15%;
  margin: 3em;
  background-color: #CECECE;
  opacity: 0.7;
  border: 2px solid #9E9E9E; }

.form1 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 2em;
  font-weight: bold; }

.form2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }

.form3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3; }

.form4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; }

.form5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4; }

.form7 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  color: #339235;
  size: 3em;
  font-weight: bold; }

.box2 {
  position: absolute;
  top: 710px;
  left: 97px;
  height: 55px;
  width: 80%;
  justify-content: center;
  text-align: center; }

#button_calculate {
  background: #339235;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  font-size: 2em;
  color: white; }

.infobox1 {
  text-align: left;
  width: 25%;
  padding-left: 1.5em;
  border: 1px solid #D7D7D7;
  border-top: 2px solid #9E9E9E;
  box-shadow: 1px 5px 5px #D7D7D7;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 0.8em; }

.infobox2 {
  font-size: 1.2em;
  font-weight: bold; }

.infobox3 {
  font-weight: bold; }

#age, #first_name, #country, #horsepower {
  height: 2em;
  width: 20em;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  font-size: 1em; }

ul {
  padding-left: 0.6em; }

footer {
  background-color: #171717;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
  color: white;
  display: grid;
  widows: 100vw;
  font-size: 0.8em; }

.logofooter {
  text-align: right;
  margin: 1.5em; }

.copyfooter {
  text-align: center; }

.lista {
  list-style-type: none; }

li.listb:before {
  content: "✔";
  font-size: 1em;
  padding-right: 8px;
  color: blue; }

h4 {
  text-align: center;
  font-size: 2em; }

.table-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 10em 20em;
  grid-gap: 5px;
  grid-row-gap: 5px;
  background-color: #CECECE;
  padding: 1em;
  margin: 2em 10em; }

.table-container > div {
  background-color: #8E1616;
  text-align: left;
  padding: 10px 5px;
  padding-left: 10px;
  font-size: 1.5em;
  font-family: Arial;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.7; }

footer {
  background-color: #171717;
  font-family: Arial;
  color: white;
  display: grid;
  widows: 100vw;
  font-size: 0.8em; }

.logofooter {
  text-align: right;
  margin: 1.5em; }

.copyfooter {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
